*{ margin: 0;
padding: 0;}

header{ display: flex;
justify-content: space-between;
align-items: center;

}
header ul{
    display: flex;
    list-style: none;
    padding:  10px 20px;
}
header ul li{  padding: 20px;
           text-transform: capitalize;
}
body{  
    background: url(images/model-3.jpg);
    background-size: cover;
    po
    height: 90vh;
    background-repeat: no-repeat;
}
.mid{
    text-align: center;
    margin-top:50px;
      font-size: 20px;
    text-transform: capitalize;
    position: relative;
    
}
.mid a{
    color: #000;
}
.bottom{ position: absolute;
display: flex;
justify-content: center;
bottom: 60px;


left: 35%;}
.bottom p{ padding:  10px 50px;
text-transform: capitalize;
background-color:  black;
color: #FFF;
border-radius: 5px;
margin: 0 20px;}

.bottom span{
    background-color: aliceblue;
    color: #000;
    margin: 0 20px;
    padding: 10px 50px;
    border-radius: 5px;
}

